.myContainer {
    /* margin-right: 10px;
    margin-left: 10px; */
    margin: auto;
    padding: 0;
    width:1210px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}

svg {
    width: 950px;
    height: 650px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.col-md-3 {
    width: 22%;
}
.well {
    height: 650px;

}
.subheading {
    color: rgb(49, 83, 83);
    padding-bottom: 5px;
    font-weight: 400;
}

.panel-heading {
    color: rgb(49, 83, 83);
}

#control-panel {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid rgb(210, 216, 230);
    background-color: white;
    color: #d68d0f;
}

#chart-panel {
    background-color: rgb(233, 231, 231);
}


#global-attribute {
    padding-bottom: 5px;
}

#attribute-select {
    border: solid 2px #d68d0f;
}

#region-select {
    padding-bottom: 5px;
}

#opacity {
    padding-bottom: 5px;
    width: 100%;
}

#opacity-control {
    margin: 0.4rem;
    width: 80%;
    height: 15px;
    cursor: pointer;
    border-radius: 8px;
    height: 7px;
    outline: none;
}

#play {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#play-button {
    padding-top: 10px;
    margin: auto;
    width: 200px;
    background-color: oldlace;
    border: solid 2px #d68d0f;
    color: rgb(49, 83, 83);
}

